<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <ul class="navbar-nav">
    {{#if isAuth}}
     <li class="nav-item {{#if isCarList}} active {{/if}}"><a class="nav-link" href="/cars">Cars list</a></li>
     <li class="nav-item {{#if isCarCreate}} active {{/if}}"><a class="nav-link" href="/cars/create_cars">Create car</a></li>
     <li class="nav-item {{#if isAnimalList}} active {{/if}}"><a class="nav-link" href="/animals">Animals list</a></li>
     <li class="nav-item {{#if isAnimalCreate}} active {{/if}}"><a class="nav-link" href="/animals/create_animals">Create animal</a></li>
     <li class="nav-item {{#if isFruitsList}} active {{/if}}"><a class="nav-link" href="/fruits">Fruits list</a></li>
     <li class="nav-item {{#if isFruitCreate}} active {{/if}}"><a class="nav-link" href="/fruits/create_fruits">Create fruit</a></li>
     {{#if isAdmin}}
     <li class="nav-item {{#if isAdmin}} active {{/if}}"><a class="nav-link" href="/admin/users_list">Admin panel</a></li>
     {{/if }}
     <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
  {{else}}
     <li class="nav-item {{#if isLogin}} active {{/if}}"><a class="nav-link" href="/login">Login</a></li>
     <li class="nav-item {{#if isRegistration}} active {{/if}}"><a class="nav-link" href="/registration">Registration</a></li>
   {{/if}}
  </ul>
</nav>