<h1>Fruit with id: {{fruit.id}}</h1>

<div class="container">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="https://thumbs.dreamstime.com/b/funny-cartoon-fruit-berry-characters-set-isolated-white-vector-illustration-84983092.jpg" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">{{fruit.name}}</h4>
        <p class="card-text">{{fruit.price}}</p>   
    </div>
    </div>
</div>